<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/application.css">
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="/js/application.js"></script>
	<title></title>
</head>
<body>
	<% if logged_in? %>
		<div style="position: absolute; right: 10px; top: 15px;">Sign in as :<a href="/users/<%= current_user.id %>"><%= current_user.name %></a></div>
	<% end %>
	<%= yield %>
</body>
</html>